---
layout: default
---

<header>
  <view column class="layout-wrapper">
    <h1 class="fw-bold c-red">
        Where Ruby Developers meet
    </h1>
    <h3 class="fw-medium">
        Reserve your ticket to EuRuKo in Vienna<br>
        on 29th - 30th of September 2018 
    </h3>
    
  </view>
</header>

<content>
  
  {% include sponsor_list.html %}

  <section class="section-spacing">
    <view class="layout-wrapper">
      <h3 class="description fw-medium">
        Euruko is the annual European conference that brings you all the good news about Ruby and its friends. Every year it takes
        place in a different European city, the location being chosen by the participants. We are tremendously happy to be organising
        this next edition. Join us and Ruby's creator, Matz, in Vienna on August 24-25.
      </h3>
    </view>
  </section>
  
  <section class="section-spacing">
    <view column class="layout-wrapper">
      <h2 class="section-header align-self-start">Announcements</h2>
      {% for post in site.posts %}
        <view class="announcements">
          <view class="image" style='background-image: url("/assets/images/posts/{{ post.image }}")'></view>
          <view class="text-wrapper">
            <h3 class="fw-bold">
                {{ post.title }}
            </h3>
            {{ post.excerpt }}
            <a href="{{post.url}}" class="button bg-red align-self-start" >{{ post.title }}</a>
          </view>
        </view>
      {% endfor %}
    </view>
  </section>

</content>
