---
title: EuRuKo 2018 | Jobs
permalink: /jobs/
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/jobs.css?v=' | append: site.github.build_revision | relative_url }}" media="print,screen">

<header>
    <view column class="layout-wrapper">
        <img src="/assets/images/jobs_header.svg" />
        <h1 class="fw-bold c-red">
            We're hiring!
        </h1>
        <h3 class="fw-medium">
            Are you looking for jobs, or bla bla bla bla bla bla bla bla bla bla bla bla
        </h3>
    </view>
</header>

<content>
    <section>
        <view class="layout-wrapper">
            {% for sponsor in site.data.sponsors %}
            <div class="job-header">
                <a href="/jobs/{{ sponsor.key }}">
                    <img src="/assets/images/sponsors/{{ sponsor.logo }}" />
                    <p>
                        {{ sponsor.description }}
                    </p>
                </a>
            </div>
            <div class="job-listing">
                {% for job in site.data.jobs %}
                {% if job.company == sponsor.name %}
                <div class="jobs-tile">
                    <p class="job">{{ job.job}}</p>

                    <p class="description">
                        {{ job.description }}
                    </p>
                    <a href="{{ job.url }}" class="button bg-red c-white small">
                        Find out more
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </view>
    </section>

</content>


