---
title: EuRuKo 2018 | Sponsoring
permalink: /sponsoring/
layout: default
---

<link rel="stylesheet" href="{{ '/assets/css/sponsoring.css?v=' | append: site.github.build_revision | relative_url }}" media="print,screen">

<header>
    <view column class="layout-wrapper">
        <h1 class="fw-bold c-red">
            Our Sponsors
        </h1>
        <h3 class="fw-bold">
            A big thank you to our sponsors for their support of the Ruby community and the EuRuKo conference!
        </h3>
        <img src="/assets/images/homepage-header.svg"/>
    </view>
</header>

<content style="margin-top: 0px">
    <section>
        <view column class="layout-wrapper">

            {% for sponsor in site.data.sponsors %}
            {% if sponsor.level == 'partner' or sponsor.level == 'platinum' %}
            <div class="main-sponsor">
                <a href="{{ sponsor.url }}" target="_blank">
                    <img class="logo" src="/assets/images/sponsors/{{ sponsor.logo }}" />
                    <p class="level c-{{ sponsor.level }}">{{ sponsor.level }}</p>
                </a>
                <p>{{ sponsor.description }}</p>
                <div class="links-wrapper">
                    <a href="{{ sponsor.twitter }}" target="_blank">
                        <img src="/assets/images/services/twitter.svg"/>
                    </a>
                    {% if sponsor.facebook %}
                    <a href="{{ sponsor.facebook }}" target="_blank">
                        <img src="/assets/images/services/facebook.svg"/>
                    </a>
                    {% endif %}
                    {% if sponsor.instagram %}
                    <a href="{{ sponsor.instagram }}" target="_blank">
                        <img src="/assets/images/services/instagram.svg"/>
                    </a>
                    {% endif %}
                    <a href="{{ sponsor.url }}" target="_blank">
                        <img src="/assets/images/link.svg"/>
                    </a>
                </div>
            </div>

            {% else %}
            <div class="sponsor-level-list">
                {% include sponsor_page_line.html sponsor=sponsor %}
            </div>

            {% endif %}
            {% endfor %}

            <h3 style="margin-top: 40px;" class="c-red">
                Become a Sponsor
            </h3>
            <p style="margin-top: 30px;">
                <strong>
                    EuRuKo is the annual European conference that brings all the good news about Ruby and its friends. Every year it takes
                    place in a different European city, the location being chosen by the participants.
                </strong>
            </p>

            <p style="margin-top: 30px;">
                As a sponsor you get the opportunity to reach an international crowd of talented developers.
                It is EuRuKo's tradition to offer tickets at a low price in order to offer everyone the possibility to attend.
                Therefore we rely on our sponsors to help us make this event an unforgettable experience for everyone involved.
                Review our packages and learn how your company can benefit from sponsoring the event.</p>

            <p style="text-align: center; margin-top: 60px;">
                <a href="/EuRuKo_2018_Sponsoring.pdf" target="_blank" class="button bg-red">Download Packages</a>
            </p>

            <h3 style="margin-top: 30px;">Contribute to a diverse EuRuKo!</h3>
            <p style="margin-top: 30px;">
                EuRuKo wants to be an inclusive conference. That's why we have a Diversity Ticket Programme aimed at members of
                underrepresented groups in tech — this includes, but is not limited to: people of colour, LGBTQIA+ people, women, disabled people.
            </p>
            <p style="margin-top: 30px;">
                As a Diversity Sponsor you make it possible for one or more eligible candidates to attend the conference by sponsoring their ticket
                and, optionally, their travel and accommodation. Please <a href="mailto:euruko2018@gmail.com" target="_blank">contact us</a>
                if you're interested or want to learn more.
            </p>

        </view>
    </section>
</content>
