<footer class="h-flex-column">
    <div row>
        <div grow>
            <a href="/">
                <img src="/assets/images/logo.svg" width="200" height="40" />
            </a>
        </div>

        <div row class="social-buttons">
            <a href="https://facebook.com">
                <div><img src="/assets/images/services/facebook.svg" width="28" height="28" /></div>
            </a>
            <a href="https://twitter.com/euruko">
                <img src="/assets/images/services/twitter.svg" width="28" height="28" />
            </a>
        </div>
    </div>

    <div row style="margin-top: 50px;">
        <div grow>
            <span>&copy; Euruko 2018 | Vienna, Austria</span>
        </div>
        <a href="mailto:euruko2018@gmail.com" target="_blank">Contact Us</a>
    </div>
</footer>