<footer class="section-spacing">
    <view column class="layout-wrapper">
        <view class="justify-sb align-items-center">
            {% include logo.html %}
            <view class="social-buttons">
                <a href="https://facebook.com">
                    <img src="/assets/images/services/facebook.svg" />
                </a>
                <a href="https://twitter.com/euruko">
                    <img src="/assets/images/services/twitter.svg" />
                </a>
            </view>
        </view>
        <view class="subfooter">
            <p>&copy; Euruko 2018 | Vienna, Austria</p>
            <a href="mailto:euruko2018@gmail.com" target="_blank">Contact Us</a>
        </view>
    </view>
</footer>
