<nav class="no-print">
    <view class="layout-wrapper h-flex-wrap">
        {% include logo.html %}
        <div id="menu-opener" onClick="openMenu()">
            <img src="/assets/images/menu.svg" width="30" height="24"/>
        </div>
        <view class="responsive-wrapper">
            <view class="menu">
                    <a href="/coc">Code of Conduct</a>
                    <a href="/#announcements">Announcements</a>
                    <a href="/sponsoring">Sponsoring</a>
                    <a href="/cfp">Call for Proposals</a>
            </view>
            {% include social_buttons.html %}
        </view>
    </view>
</nav>

<script type="text/javascript">
    function openMenu() {
        document.getElementsByTagName('nav')[0].classList.toggle('active');
    }
</script>
