<nav>
    <view class="layout-wrapper h-flex-wrap">
        {% include logo.html %}

        <div id="menu-opener" onClick="openMenu()">
            <img src="/assets/images/menu.svg" width="30" height="24"/>
        </div>
        <view class="responsive-wrapper align-items-center">
            <view class="menu">
                <a href="/schedule" {% if page.path contains 'schedule' %}class="selected"{% endif %}>Schedule</a>
                <a href="/speakers" {% if page.path contains 'speakers' %}class="selected"{% endif %}>Speakers</a>
                <a href="/venue" {% if page.path contains 'venue' %}class="selected"{% endif %}>Location</a>
                <a href="/sponsoring" {% if page.path contains 'sponsoring' %}class="selected"{% endif %}>Sponsors</a>
                <a href="/coc" {% if page.path contains 'coc' %}class="selected"{% endif %}>CoC</a>
                <a href="/jobs" {% if page.path contains 'jobs' %}class="selected"{% endif %}>Jobs</a>
            </view>

            <a href="https://twitter.com/euruko/status/1022749219780739078" class="button bg-red" target="_blank" >Sold out!</a>
        </view>
    </view>
</nav>

<script type="text/javascript">
    function openMenu() {
        document.getElementsByTagName('nav')[0].classList.toggle('active');
    }
</script>
