

<view class="navigation">
    <view class="navigation-wrapper">
        <a href="/" class="h-flex">
            <img src="/assets/images/logo.svg" width="200" height="40" />
        </a>
        <view class="menu">
            <a href="/coc">Code of Conduct</a>
            <a href="/#announcements">Announcements</a>
            <a href="/#newsletter">Newsletter</a>
        </view>
        <view class="social-links">
            <a href="https://twitter.com/euruko">
                <img src="/assets/images/services/twitter.svg"/>
            </a>
        </view>
    </view>
</view>
