<div class="sponsor-tile">
    <div class="bg-{{sponsor.level}}" style="height: 10px;"></div>
    <div class="content">
        <a href="{{ sponsor.url }}" target="_blank">
            <img class="logo" src="/assets/images/sponsors/{{ sponsor.logo }}" />
        </a>
        <p>{{ sponsor.description }}</p>
        <div class="bouncer"></div>
        <div class="links-wrapper">
            <a href="{{ sponsor.twitter }}" target="_blank">
                <img src="/assets/images/services/twitter.svg"/>
            </a>
            <a href="{{ sponsor.facebook }}" target="_blank">
                <img src="/assets/images/services/facebook.svg"/>
            </a>

            <a href="{{ sponsor.url }}" target="_blank">Visit page</a>
        </div>
    </div>
</div>
