<section class="sponsor-list">
    <view column class="layout-wrapper">
            <view class="align-items-center h-flex-wrap justify-sb">
                {% for sponsor in site.data.sponsors %}
                <view class="sponsor-wrapper">
                    <a href="{{ sponsor.url }}" target="_blank">
                        <img src="/assets/images/sponsors/{{ sponsor.logo }}" />
                    </a>
                </view>
                {% endfor %}
            </view>
        <hr class="bg-blue-gradient" />
    </view>
</section>