<section class="sponsor-list">
    <view column class="layout-wrapper">
            <view class="align-items-center h-flex-wrap">
                <view class="sponsor-wrapper">
                    <a href="https://www.meisterlabs.com/" target="_blank">
                        <img src="/assets/images/sponsors/meisterlabs.svg" />
                    </a>
                </view>
                
    
                <a href="/sponsoring" class="be-sponsor">Want to sponsor?</a>
            </view>
        <hr class="bg-blue-gradient" />
    </view>
</section>

