---
---

@import "main";

@import "modules/announcements";

@import "partials/navigation";
@import "partials/sponsor-list";
@import "partials/newsletter";
@import "partials/footer";


header {
    background: #ffffff url("/assets/images/header.svg") no-repeat right bottom;
    background-size: 100% auto;
    min-height: 600px;
    padding: 0px;

    .layout-wrapper {
        padding: 80px 20vw 0px 0px;
        margin: 0 20px;
        max-width: 1200px;
    }

    .mobile-header {
        display: none;
    }

    h1 {
        text-transform: uppercase;
    }

    .button {
        align-self: flex-start;
        margin-top: 30px;
    }
}

.description {
    text-align: center;
    padding: 0 10vw;
}


@media (max-width: 980px) {
    header {
        flex-direction: column;
        background: linear-gradient(to top, #86e4ff, #ffffff);
        min-height: 0px;

        .mobile-header {
            display: inline-block;
            width: 100%;
            height: auto;
        }

        .layout-wrapper {
            padding: 40px 20px 20px 20px;
            flex-basis: auto;
            align-items: center;
            margin: 0;
        }

        h1, h3 {
            text-align: center;
        }

        .button {
            align-self: center;
        }
    }
}

@page {
    size: A4 landscape;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }

    section {
        page-break-before: always;
    }

    footer {
        page-break-after: avoid;
    }
}