---
---

@import "0-settings/config";

.schedule-table {
  width: 100%;
  line-height: 30px;

  div[row] {
    div {
      border: 3px solid white;
      background-color: #fafafa;
      padding: 20px;
    }

    div:first-child {
      width: 100px;
      font-weight: bold;
    }

    div:last-child {
      flex-grow: 1;
    }
  }

}

@media (max-width: 768px) {
  .sponsor-table {
    overflow-x: scroll;
  }

  th, td {
    white-space: nowrap;
  }
}
