---
---

@import "0-settings/config";

.speakers-table {
  width: 100%;
  line-height: 30px;
  display: flex;

  div.tile {
    flex-flow: column;
    border-radius: 10px;
    box-shadow: 0 1px 4px 0 rgba(89, 89, 89, 0.2);
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 370px;



    div[row] {
      border-bottom: 1px solid $grey3;
    }

    .name,
    .talk-name {
      display: block;
      font-weight: 500;
    }

    .name {
      color: $red;
    }
    .description {
      padding: 20px;
      text-align: left;
    }
  }

  img {
    max-height: 120px;
    border-top-left-radius: 10px;
  }
  .img-placeholder {
    width: 100px;
    border: none !important;
  }
}

@media (max-width: 768px) {
  .sponsor-table {
    overflow-x: scroll;
  }

  th, td {
    white-space: nowrap;
  }
}
