---
---

@import "0-settings/config";

table {
  border-collapse: collapse;

  th {
    font-weight: bold;
    padding: 15px 15px 25px 15px;
    border-bottom: 1px solid $red;
  }

  td:not(:first-child) {
    text-align: center;
    word-break: keep-all ;
  }

  td:first-child {
    font-weight: bold;
  }

  td {
    border: 3px solid white;
    padding: 20px;
    background-color: #fafafa;
  }


}