---
---

$soft-red: #fd9e9a;
$hard-red: #fc5834;
$dark-gray: #595959;
$light-gray: #9d9e9d;
$section-headings-color: $hard-red;
@import "{{ site.theme }}";

body {
  font-family: "Futura", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

form {
  input[type="submit"] {
    background-color: $dark-gray;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
      background-color: $light-gray;
    }
  }
}

.page-header {
  background: $soft-red;
  color: $dark-gray;
  position: relative;
  &:after {
    background: linear-gradient(-45deg, #ffffff 32px, transparent 0), linear-gradient(45deg, #ffffff 32px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 64px 64px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 64px;
  }
}
