<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <meta charset="UTF-8">

  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/general.css?v=' | append: site.github.build_revision | relative_url }}">
</head>

<body>
<nav class="h-flex-row">
  <!-- Header with menu & graphic -->
  <a href="/">
    <img src="/assets/images/logo.svg" width="200" height="40" />
  </a>

  <div row grow class="menu">
    <a href="/coc">CoC</a>
    <a href="/#announcements">Announcements</a>
    <a href="/#newsletter">Newsletter</a>
  </div>

  <div row class="social-buttons">
    <a href="https://facebook.com">
      <div><img src="/assets/images/services/facebook.svg" width="28" height="28" /></div>
    </a>
    <a href="https://twitter.com/euruko">
      <img src="/assets/images/services/twitter.svg" width="28" height="28" />
    </a>
  </div>
</nav>

{{ content }}

<footer class="h-flex-column">
  <div row>
    <div grow>
      <a href="/">
        <img src="/assets/images/logo.svg" width="200" height="40" />
      </a>
    </div>

    <div row class="social-buttons">
      <a href="https://facebook.com">
        <div><img src="/assets/images/services/facebook.svg" width="28" height="28" /></div>
      </a>
      <a href="https://twitter.com/euruko">
        <img src="/assets/images/services/twitter.svg" width="28" height="28" />
      </a>
    </div>
  </div>

  <div row style="margin-top: 50px;">
    <div grow>
      <span>&copy; Euruko 2018 | Vienna, Austria</span>
    </div>
    <a href="mailto:euruko2018@gmail.com">Contact Us</a>
  </div>
</footer>


{% if site.google_analytics %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
